@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  body {
    @apply relative bg-gray-50 font-outfit font-normal;
  }
}

@layer components {
  .menu-item {
    @apply relative flex w-full items-center gap-3 rounded-lg px-3 py-2 text-theme-sm font-medium;
  }

  .menu-item-active {
    @apply bg-brand-50 text-second-accent;
  }

  .menu-item-inactive {
    @apply text-gray-700 hover:bg-gray-100 group-hover:text-gray-700;
  }

  .menu-item-icon {
    @apply text-gray-500 group-hover:text-gray-700;
  }

  .menu-item-icon-active {
    @apply text-second-accent;
  }

  .menu-item-icon-inactive {
    @apply text-gray-500 group-hover:text-gray-700;
  }

  .menu-item-arrow {
    @apply relative;
  }

  .menu-item-arrow-active {
    @apply rotate-180 text-second-accent;
  }

  .menu-item-arrow-inactive {
    @apply text-gray-500 group-hover:text-gray-700;
  }

  .menu-dropdown-item {
    @apply relative flex items-center gap-3 rounded-lg px-3 py-2.5 text-theme-sm font-medium;
  }

  .menu-dropdown-item-active {
    @apply bg-brand-50 text-second-accent;
  }

  .menu-dropdown-item-inactive {
    @apply text-gray-700 hover:bg-gray-100;
  }

  .menu-dropdown-badge {
    @apply block rounded-full px-2.5 py-0.5 text-xs font-medium uppercase text-second-accent;
  }

  .menu-dropdown-badge-active {
    @apply bg-brand-100;
  }

  .menu-dropdown-badge-inactive {
    @apply bg-brand-50 group-hover:bg-brand-100;
  }
}

@layer utilities {
  .no-scrollbar {
    /* Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar {
    &::-webkit-scrollbar {
      @apply size-1.5;
    }

    &::-webkit-scrollbar-track {
      @apply rounded-full;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-full bg-gray-200;
    }
  }

  /* For Remove Date Icon */
  input[type="date"]::-webkit-inner-spin-button,
  input[type="time"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

/* Your custom styles */
.sidebar:hover {
  width: 290px;
}
.sidebar:hover .logo {
  display: block;
}
.sidebar:hover .logo-icon {
  display: none;
}
.sidebar:hover .sidebar-header {
  justify-content: space-between;
}
.sidebar:hover .menu-group-title {
  display: block;
}
.sidebar:hover .menu-group-icon {
  display: none;
}

.sidebar:hover .menu-item-text {
  display: inline;
}

.sidebar:hover .menu-item-arrow {
  display: block;
}

.sidebar:hover .menu-dropdown {
  display: flex;
}

.edit-button {
  @apply flex w-full items-center justify-center gap-2 rounded-full border border-gray-300 bg-white px-4 py-3 text-sm font-medium text-gray-700 shadow-theme-xs hover:bg-gray-50 hover:text-gray-800 lg:inline-flex lg:w-auto;
}
